In [1]:
print("Hello")

Hello

In [2]:
!python -- version

python: can't open file 'version': [Errno 2] No such file or directory

In [3]:
n = 1
print(n)

1

In [4]:
#string 
hello = "World"

In [5]:
print(hello) #print variable
print("World")

World
World

In [6]:
n = 5
print(n)

5

In [7]:
#type()
type(hello)

str

In [8]:
print(type(hello)) #print data type

<class 'str'>

In [9]:
#Integer
int_value = 5
int_value

5

In [10]:
#type()
type(int_value)

int

In [11]:
#Float
t = 3.19
print(type(t))

<class 'float'>

In [12]:
type('x')

str

In [13]:
type(5)

int

In [14]:
type(3.12)

float

In [15]:
#BooLean
t, f = True, False
print(type(t))
print(t)
print(f)

<class 'bool'>
True
False

In [16]:
#swapping
data1 = 7
data2 = 12
data3 =23,5
data4 = 33

data1, data2, data3, data4 = data2, data1, data4, data3
print(data1, data2, data3, data4)

12 7 33 (23, 5)

In [17]:
print("data1", data1, "data2", data2)

data1 12 data2 7

In [18]:
#Length
len("Pythoneer")

9

In [19]:
len("Welcome to Bolu")

15

In [20]:
hello

'World'

In [21]:
print(len(hello)) #print data Length

5

In [23]:
n

5

In [24]:
len(5)

TypeError: object of type 'int' has no len()

In [25]:
len('5')

1

In [31]:
data22 = "Data Science"
len(data22)

12

In [35]:
#F-string
name = "Turkey"
print(f'hello {name}')

hello Turkey

In [36]:
name2 = "Bircan"
print("Hello {}", format(name2))

Hello {} Bircan

In [39]:
print(f'My value: {data1} and your value: {data2}')

My value: 12 and your value: 7

In [56]:
data12 = 12

In [42]:
str(data12)

'12'

In [44]:
type(data12)

int

In [45]:
data12 = str(data12)
type(data12)

str

In [46]:
5 + 5

10

In [47]:
"5" + "5"

'55'

In [53]:
data12 = 5
data13 = 90
data14, data15, data16 = 2, 3 , 4
print("My value : {} and Your value : {} {} {} {}".format(data12, data13,data14,data15,data16))

My value : 5 and Your value : 90 2 3 4

In [58]:
print("Hello", "Bircan", sep="-")

Hello-Bircan

In [60]:
print("My value: " + str(data12) + " Your value: " + str(data13))

My value: 12 Your value: 90

In [61]:
a = 50

In [62]:
type(a)

int

In [63]:
type(str(a))

str

In [64]:
type(a)

int

In [65]:
a = str(a)

In [66]:
a

'50'

In [67]:
type(a)

str

In [68]:
int(3.2)

3

In [69]:
float("3")

3.0

In [70]:
round(float("3.0"))

3

In [71]:
5**2

25

In [72]:
35 + 67

102

In [73]:
"35" + "67"

'3567'

In [74]:
"Bircan" + "Serhat"

'BircanSerhat'

In [75]:
"35" + 6

TypeError: can only concatenate str (not "int") to str

In [76]:
"35" * 3

'353535'

In [77]:
"25" "35"

'2535'

In [78]:
3 - 5

-2

In [79]:
x = 10
print(x+2)
print(x-2)
print(x*2)
print(x**2)
print(x/2)
print(x//2)
print(x%2)

12
8
20
100
5.0
5
0

In [80]:
z = 5
z += 1
z

6

In [81]:
z += 2
z

8

In [82]:
z *= 2
z

16